@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");

/* || VARIABLES */
:root {
  --primary: #55a7de;
  --secondary: #73b9e3;
  --tertiary: #a1d8fa;
  --white: #fff;
  --dark-primary: #0e1a45;
  --dark-secondary: #31255a;
  --dark-tertiary: #a368a2;
}

/* || RESETS */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: var(--white);
  background-color: var(--secondary);
}

a {
  list-style: none;
  text-decoration: none;
  color: white;
}

/* || GLOBAL STYLES */

body {
  overflow-x: hidden;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

.show {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 1s ease-in-out, transform 0.5s ease-in-out;
}

.day {
  background: linear-gradient(var(--dark-primary), var(--secondary));
}
.night {
  background: linear-gradient(var(--dark-primary), var(--dark-secondary));
}

/* || MOBILE STYLES */

/* Search */

.container {
  background-color: var(--white);
  border-radius: 0 0 20px 20px;
}

header {
  background-color: var(--white);
  color: var(--primary);
  padding: 2% 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  font-size: 1.7rem;
}

.form {
  margin: 0% 5%;
  display: flex;
  align-items: center;
}

.weather-search {
  background-color: transparent;
  border-radius: 7px;
  padding: 2% 15%;
  border: 1px solid var(--primary);
  color: var(--primary);
  flex: 1;
}

.weather-search::placeholder {
  color: var(--primary);
}

.weather-search:focus {
  outline: var(--primary) 1px solid;
}

.search-button {
  color: var(--primary);
  background: none;
  border-style: none;
  font-size: 20px;
  margin-left: 10px;
}

.search-button:hover {
  color: var(--secondary);
  cursor: pointer;
  scale: 1.1;
  transition: 0.2s ease-in-out;
}

ul {
  padding: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  margin: 0 0 3% 3%;
  position: relative;
  color: #000;
  text-decoration: none;
}

a:first-child {
  margin-left: 0;
}

a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--tertiary);
  transform: scaleX(0);
  transition: transform 0.3s ease-out;
}

a:hover::before {
  transform: scaleX(1);
}

.saved-city {
  font-size: 0.9rem;
  color: var(--primary);
}

.saved-temp {
  font-size: 2rem;
  font-weight: 100;
}

.no-search-text {
  font-weight: 100;
  font-size: 0.9rem;
  margin-top: 50%;
}

/* Today */

.icon-wrapper {
  font-size: 0.7rem;
  padding: 2% 5%;
  border-radius: 10px;
  margin: 5% 5%;
  background-color: rgba(255, 255, 255, 0.2);
}

.today-temp {
  font-size: 5rem;
  margin: 2px 0px;
}

.icon {
  scale: 0.3;
  margin-top: -50px;
  margin-bottom: -50px;
}

.today-weather-desc {
  font-size: 1.5rem;
}

.today-wind-wrapper,
.today-humid-wrapper {
  display: none;
}

/* Forecast */
.forecast {
  margin-top: 5%;
  background-color: var(--primary);
}

.forecast-day-wrap {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 5% 0;
  height: 5vh;
}

.forecast-day {
  margin-left: 5%;
}

.forecast-icon {
  scale: 0.14;
  margin: 0 -20%;
}

.forecast-temp {
  margin-right: 5%;
}

hr {
  width: 90%;
  margin-top: 5%;
  border: 1px solid white;
}

.forecast-wind,
.forecast-humid,
.forecast-icon-wind,
.forecast-icon-humid {
  display: none;
}

/* || SMALL TABLET STYLES */
@media screen and (min-width: 620px) {
  a.day-saved-city {
    padding: 1% 3%;
  }
  .saved-city {
    font-size: 1rem;
  }
  .today {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  .icon-wrapper {
    margin: 0;
    margin-top: 3%;
    padding: 0;
  }

  .today-wind-wrapper,
  .today-humid-wrapper {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    border-radius: 10px;
  }

  .today-wind-wrapper {
    margin-right: -50px;
  }

  .today-humid-wrapper {
    margin-left: -50px;
  }

  .hidden {
    display: none;
  }
}

/* || LARGE TABLETS AND LAPTOP STYLES */
@media screen and (min-width: 960px) {
  header h1 {
    font-size: 2rem;
  }

  .weather-search {
    padding: 4%;
    width: 100%;
    margin-right: 5px;
    margin-left: 10px;
  }

  body {
    background-color: var(--primary);
    display: grid;
    grid-template-areas:
      "search header header"
      "search today today"
      "search forecast forecast";

    grid-template-columns: 25% 1fr 1fr;
    grid-template-rows: 7% 37% auto;
  }

  header {
    grid-area: header;
    color: var(--white);
    background-color: transparent;
    margin-top: 6%;
    justify-content: space-evenly;
    flex-direction: column;
  }

  header h1 {
    margin-bottom: 0%;
  }

  .container {
    grid-area: search;
    border-radius: 0;
  }

  .today {
    grid-area: today;
  }

  .forecast {
    grid-area: forecast;
    background-color: transparent;
  }

  .form {
    margin-left: 50px;
    margin-top: 50px;
  }

  ul {
    flex-direction: column;
  }

  a.day-saved-city {
    padding: 5% 3%;
    margin-bottom: 30px;
  }

  .today {
    font-size: 1.2rem;
    padding: 5% 10%;
    border-radius: 10px;
    margin: 8% 5% -5% 5%;
  }

  .icon-wrapper {
    background: transparent;
  }

  .forecast {
    display: flex;
    justify-content: center;
    margin-top: 0;
    padding: 50px 0;
  }

  .forecast-day-wrap {
    flex-direction: column;
    align-items: center;
    margin: 22% 0;
    width: 20%;
  }

  .forecast-day {
    margin-bottom: -60px;
    font-size: 1.5rem;
  }

  .forecast-icon {
    scale: 0.23;
  }

  .forecast-temp {
    margin-top: -70px;
    margin-bottom: -40px;
  }

  .forecast-wind {
    margin-top: -60px;
    margin-bottom: -30px;
  }

  .forecast-humid {
    margin-top: -50px;
    margin-bottom: -90px;
  }

  .forecast-wind,
  .forecast-humid,
  .forecast-icon-wind,
  .forecast-icon-humid {
    display: flex;
  }

  .hidden {
    display: none;
  }
}

/* || DESKTOP STYLES */
@media screen and (min-width: 1200px) {
  header h1 {
    font-size: 2.8rem;
  }

  header {
    margin-bottom: 2%;
  }

  .icon-wrapper {
    margin-top: -50px;
  }

  .forecast-day {
    margin-bottom: -30px;
    font-size: 1.7rem;
  }

  .today-wind-wrapper,
  .today-humid-wrapper {
    scale: 1.1;
  }

  .forecast-temp {
    margin-top: -60px;
    margin-bottom: -40px;
  }

  .forecast-wind {
    margin-top: -50px;
    margin-bottom: -20px;
  }

  .forecast-humid {
    margin-top: -50px;
    margin-bottom: -90px;
  }
  .hidden {
    display: none;
  }
}
